.img-prod img{
    width: 254px;
    height: 210px;
    object-fit: cover;
}

.prd {
    margin-top: 170px;
}

.product-category li a {
    cursor: pointer;
}
.product-category li a:hover {
    cursor: pointer;
}

.buy-now{
    cursor: pointer;
}