.img-prod img{
    width: 254px;
    height: 210px;
    object-fit: cover;
}

.prd {
    margin-top: 170px;
}

.product-category li a {
    cursor: pointer;
}
.product-category li a:hover {
    cursor: pointer;
}

.buy-now,.heart{
    cursor: pointer;
}

.login{
    background-image: url('../images/Login\ background.png') ;
    padding: 50px 0px 0px 0px;
    min-height: 785px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
}
.login .logo img{
    margin-left: 0px;
}

.lgform{
    padding: 0px 30px;
    width: 100%;
    min-height: 260px;
    border: 0px solid;
    background: #fff;
    border-radius: 10px;
}
.lgform label{
    margin-top: 15px;
}
.lgform input[type=text], select {
  width: 100%;
  padding: 5px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: rgb(232, 240, 254);
}
.lgform input[type=password], select {
    width: 100%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: rgb(232, 240, 254);
  }

  .lgform input[type=submit] {
    width: 100%;
    background-color: #DB9A64;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .lgform input[type=submit]:hover {
    background-color: #DB9A64;
    opacity: 0.9;
  }
  .account{
      margin-left: 100px;
  }

  .newreceipt{
    background-image: url('../images/Login\ background.png') ;
    padding: 10px 0px;
    min-height: 785px;
    font-family: "Poppins", sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
  }
  .newreceiptform{
      opacity: 0.8;
    padding: 0px 30px;
      width: 100%;
      border: 0px solid;
      padding-bottom: 20px;
      background: #fff;
      border-radius: 10px;
      /* font-family: "Poppins", sans-serif; */
  }
  .newreceiptform p{
    margin-top: 50px;
    /* font-family: "Poppins", sans-serif; */
  }
  .newreceiptform h3{
    margin-top: 20px;
    display: block;
    /* font-family: "Poppins", sans-serif; */
  }
  .newsecond span{
    font-size: 15px;
  }
  .newsecond h4{
    font-weight: 600;
    font-size: 14px;
    /* font-family: "Poppins", sans-serif; */
  }
  .newthird h5{
    font-size: 14px;
    /* font-family: "Poppins", sans-serif; */
  }
  .navbar-brand{
      word-spacing: 10px;
      letter-spacing: 1px;
      
  }
  .info p{
    color: black;
  }
  .info span{
    color: gray;
  }
 .links{
   padding-left: 250px;
 }
 .view{
   background: red;
 }
 .content{
   padding: 50px 0px;
 }
 .logform{
   opacity: 0.8;
 }
 
 /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* alert */

.alert {
  border: 0;
  border-radius: 0.1875rem;
  color: #FFFFFF;
  padding-top: .9rem;
  padding-bottom: .9rem;
  position: relative;
}

.alert.alert-success {
  background-color: #1be611;
}

.alert.alert-danger {
  background-color: #ff5050;
}

.alert.alert-warning {
  background-color: #ffbc50;
}

.alert.alert-info {
  background-color: #46b3ff;
}

.alert.alert-primary {
  background-color: #fa764b;
}

.alert i.fa,
.alert i.now-ui-icons {
  font-size: 20px;
}

.alert .close {
  color: #FFFFFF !important;
  opacity: .9;
  text-shadow: none;
  line-height: 0;
  outline: 0;
}

.alert span[data-notify="icon"] {
  font-size: 22px;
  display: block;
  left: 19px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
}

.alert button.close {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -13px;
  width: 25px;
  height: 25px;
  padding: 3px;
}

.alert .close~span {
  display: block;
  max-width: 89%;
}

.alert.alert-with-icon {
  padding-left: 65px;
}
.card [data-notify="container"].alert {
min-width: auto;
left: unset !important;
right: unset !important;
}

@media screen and (max-width: 991px) {
[data-notify="container"].alert {
  min-width: 400px;
}
}
.alert span[data-notify="icon"] {
font-size: 22px;
display: block;
left: 19px;
position: absolute;
top: 50%;
margin-top: -11px;
}